---
title: List of tags
layout: article
---
<h1>Tags</h1>

<ol>

{% for tag in collections.tagsList %}
    {% set yoorl = ["/tags/", tag] | join %}
    <li><a href={{ yoorl | url}}>{{tag | capitalize}}</a></li>
{% endfor %}

</ol>