---
title: Base template
date: Last Modified
eleventyComputed:
  header: "{{title}} - Tekken Tech"
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Ryougi">
  <meta name="description" content="Site for displaying my notes and tricks on Tekken and Dota">
  
  <link rel="shortcut icon" href="{{'/img/favicon.ico' | url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{'/css/styles.css' | url }}">
  
  {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> #}
  
  <title>{{ header }}</title>
</head>

<body>

  <div class="wrapper">
    <header id="centerBanner">
      <p class="title">Tekken Tech</p>
      <nav class="mainNav">
          <ul>
              <li><a href="{{'/index.html' | url }}">Home</a></li>
              <li><a href="{{'/dota-index/' | url}}">Dota</a></li>
          </ul>
      </nav>
    </header>

    <div class="mainWrapper">
      
      {{content | safe}}
      
    </div>
    
    <footer id="footer" style="clear: both"> {# can use overflow:hidden as well #}
      <p style="float: left">Last modified on <em>{{page.date.toDateString().slice(3)}}</em></p>
      <p style="float: right">Twitter here</p>
      <div style="clear: both"> </div>
    </footer>
  </div>
  


</body>