<p class="title">Tekken Tech</p>
<nav class="mainNav">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="dota-index.html">Dota</a></li>
    </ul>
</nav>