html, body{
  padding: 0;
  margin: 0;
  font-size:100%;
  color: #212529;
  min-height:100%;
  line-height: normal;
}
p{margin: 10px auto;}
h1, h2, h3{margin: 10px 0;}
h1{font-family: Garamond, Georgia, 'Times New Roman', Times, serif; font-size: 2.5rem}


body{
  box-sizing:border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: fixed url("../armorkingbg.jpg") #202020 right; */
  background: linear-gradient(black 0%, #212529 1200px);
}

.wrapper{
  box-sizing: border-box;
  max-width:1000px;
  min-height:100%;
  padding: 0;
  background-color: greenyellow;
  margin:0 auto;
}

/* Center Banner Styling */

.centerBanner{
  box-sizing: border-box;
  text-align: center;
  /* max-width:100%; means max of parent element not viewport */
  /* width:800px; */
  height:auto;
  background-color: rgb(99, 14, 94);
  padding-bottom:10px;
}
.title{color:ghostwhite; font-size: 2.5rem; margin:0 0 10px 0;}


/* ---- Navbar Styling ---- */

.mainNav{
  display:flex;
  background-color:darkmagenta;
  align-items: center;
  justify-content: space-between;
}

ul{margin:0;padding:0}
li{list-style-type:none;}
nav ul li{
  display:inline;
  padding:0 0 0 10px;
  margin:0 auto;
}

a{color:royalblue}
a:hover{color:cornflowerblue} /* styles for all links */
a:active{color:orangered;}
nav ul li a, nav ul li a:visited{color:ghostwhite}
nav ul li a:hover{color:cornflowerblue}
nav ul li a:active{color:orangered}

#searchDiv {
  position: relative;
  box-sizing: border-box;
  flex: 0 1 300px;
  margin: 0;
  border: 2px red solid;
}

.dropdown {
  /* display: none; */
  position: absolute;
  box-sizing: border-box;
  background: whitesmoke;
  margin: 0;
  padding: 0;
  min-width: 100%;
  border: 2px red solid;
}

.visible{display:block}

#searchBar {
  /* flex: 0 1 300px; */
  width:100%;
  box-sizing:border-box;
  background-image: url("../img/icons8-search-24.png");
  background-repeat:no-repeat;
  background-size: 18px 18px;
  background-position: 4px center;
  margin:0 10px 0 0;
  padding:6px 0px 6px 26px;
  border:2px solid #ddd;
}

.hide {
  display: none;
}


/* ---- Main Wrapper Styling ---- */

.mainWrapper{
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  /* align-items: stretch; */
  /* justify-content: space-evenly; */
  padding:0px;
  margin:0 auto;
  text-align: left;
  min-height:100vh; /*actually can use calc minus away header height*/
  max-width:1000px;
  background:snow;
  border-right: 2px gray solid;
}

/* ---- Table Of Contents Styling ---- */

.TOC{
  background:whitesmoke;  flex: 0 0 200px;
  border: 2px gray solid; border-top: 0; border-bottom: 0;
  padding:10px;
  font-weight:bold;
}

.TOC a{
  /* position: relative; */
  display: block;
  padding:5px;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: all 0.5s;
  color: inherit;
}
.TOC a:hover{
  background-color: white;
  border: 2px solid gray;
  border-radius: 4px 0 0 4px;
  transform: translateX(12px);
  transition: all 0.5s;
  color: black;
}

/* ---- Main Content Styling ---- */

.main{
  background: snow; flex: 1 1 800px;
  padding:10px;

}
/* .main p, .main h1, .main h2{margin:10px auto;} */
.main img, .main video {
  margin:10px auto; display: block; width: 600px; max-width: 100%;
}



#mainTitle, article{
  padding-bottom:10px; margin-bottom:10px;
  border-bottom:2px solid #1A1A1A;
}

article:last-child{ /* targets the last article in main and removes bottom line */
  border-bottom:0;
}


blockquote{ /* taken from obsidian style and modified */
  background: whitesmoke;
  border-radius: 4px;
  border: 1px solid darkblue;
  border-left-width: 5px;
  padding: 10px 20px;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}



.imgurDiv{text-align:center;}

/* ~~ styling for the 2 mini videos ~~ */
.flexwrap{display:flex; flex-wrap:wrap }

/* media queries for changing flex direction*/
@media screen and (max-width:768px){
  .mainWrapper{
    flex-direction:column;
  }
  
  .flexwrap{flex-direction:column}
    /* automatic sizing based on content, flex-grow is 0*/
  .TOC{ flex:0 1 auto;   border: 2px solid gray; border-left: 0; border-right:0} 
  .TOCempty{display:none} /* to remove the index sidebar  */
  .main{flex:1 1 auto} /* can grow & shrink */
} */

/* ---- Footer Styling ---- */

footer{
  padding:0 0 0 10px;
  box-sizing: border-box;
  display: block;
  background:darkgray;
  position:absolute;
  width:100%;
  bottom: 0;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
}
footer p{margin: 0;}
.fa-twitter{color:#00acee}

